@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <h2>Welcome @context.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Please login</h2>
    </NotAuthorized>
</AuthorizeView>
@code{
   
}